@import "wrapper.css";
@import "detail-wrapper.css";
@import "timer-wrapper.css";
@import "world-clock.css";
@import "stop-watch.css";

.wrapper {
  user-select: none;
}

.alarm-wrapper,
.timer-wrapper {
  display: none;
}

::-webkit-scrollbar-thumb {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}

/* DETAIL WRAPPER */
