@import "wrapper.css";
@import "detail-wrapper.css";
@import "timer-wrapper.css";
@import "world-clock.css";
@import "stop-watch.css";

.wrapper {
  user-select: none;
}

.alarm-wrapper,
.timer-wrapper {
  display: none;
}

::-webkit-scrollbar-thumb {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  max-width: 100%;
  max-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
}

/* DETAIL WRAPPER */
