.timer-wrapper {
  position: relative;
}

.timer-wrapper .timer-btns {
  display: flex;
  padding: 10px 0;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40%;
}

.timer-wrapper .timer-btn {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  height: 40px;
  transition: 0.24s linear;
  padding: 3px;
  /* position: absolute; */
  cursor: pointer;
  user-select: none;
  border-radius: 5px;
  /* left: var(--left); */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6e7e8;
}

.timer-wrapper .timer-btn.disable {
  pointer-events: none; /* stop Event */
  opacity: 0.5;
  box-shadow: none;
}

.timer-wrapper .timer-btn:hover {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.timer-wrapper .homepage-btn {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  width: 40px;
  height: 40px;
  transition: 0.24s linear;
  position: absolute;
  top: 2.5%;
  left: 10px;
  padding: 5px;
  border-radius: 50%;
  /* transform: translateX(-50%); */
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
}

.timer-wrapper .homepage-btn:hover {
  box-shadow: none;
  opacity: 0.7;
}

.timer-wrapper .clock-top {
  margin-bottom: 0;
  height: 250px;
}

.timer-wrapper .clock-top-live {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: rgba(240, 241, 245, 0.5);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3), 5px 5px 30px rgba(0, 0, 0, 0.3),
    inset 5px 5px 10px rgba(0, 0, 0, 0.3),
    inset -5px -5px 10px rgba(0, 0, 0, 0.3);
  margin: 10px auto 30px;
  position: relative;
  overflow: hidden;
  pointer-events: none;
  transition: all 0.4s linear;
  filter: grayscale(1);
  border-radius: 15%;
}

.timer-wrapper .clock-top-live img {
  width: 100%;
  height: 100%;
}

/* ============================================ */

.timer-wrapper.run .clock-top-live {
  transform: scale(1.2);
  filter: grayscale(0);
  animation: runImg 20s linear infinite;
  animation-play-state: running;
  border-radius: 50%;
}

@keyframes runImg {
  /* 0% {
    transform: rotate(0deg);
  } */
  to {
    transform: rotate(1turn);
  }
}

.timer-wrapper .time-alarm {
  font-size: 15px;
  max-width: 200px;
  height: 25px;
  color: red;
}

.timer-wrapper .clock-bottom {
  min-width: 250px;
  height: 125px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  overflow: auto;
  background: #f2f3f7;
}

.timer-wrapper .clock-bottom .clock-item {
  height: 100px;
  font-size: 50px;
  width: 100%;
  box-shadow: none;
  cursor: default;
}

.timer-wrapper .clock-bottom.running span {
  animation: opacity 1s linear infinite;
}

@keyframes opacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.timer-wrapper .clock-bottom .clock-item .remove-alarm {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), -2px -2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.25s linear;
}
.timer-wrapper .clock-bottom .clock-item .remove-alarm:hover {
  box-shadow: none;
}

.timer-wrapper .clock-bottom .clock-item img {
  width: 100%;
  height: 100%;
}

/* JS */

.timer-wrapper .set-alarm-wrapper {
  position: absolute;
  inset: 0;
  z-index: 10;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  /* filter: blur(8px);
  -webkit-filter: blur(8px); */
  justify-content: center;
  align-items: center;
}

.timer-wrapper .set-alarm-wrapper .set-alarm-box {
  width: 90%;
  height: 200px;
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e6e7e8;
}
