.wrapper {
  padding: 40px 10px;
  background-color: #f2f3f7;
  border-radius: 20px;
  box-shadow: 20px 10px 40px rgb(217, 224, 238);
  min-height: 550px;
  max-height: 100%;
  overflow: hidden;
  min-width: 300px;
  max-width: 80%;
  margin: 0 auto;
}

.wrapper .clock-top {
  margin-bottom: 50px;
}

.wrapper .clock-top p {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
}

.wrapper .clock-top p b {
  font-weight: 500;
}

.wrapper .clock-top .time {
  font-size: 30px;
  max-width: 200px;
}

.wrapper .clock-top .time b {
  color: #fc5d26;
}

.wrapper .clock-bottom {
  min-width: 250px;
  max-height: 400px;
  background: #f2f3f7;
  padding: 5px;
}

.wrapper .clock-item {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #e6e7e8;
  box-shadow: 0px 10px 5px rgba(243, 240, 240, 0.3),
    5px 5px 10px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
  border-radius: 10px;
  transition: 0.25s ease-in-out;
}

.wrapper .clock-item:first-child {
  margin: 0;
}

.wrapper .clock-item:hover {
  box-shadow: none;
}

.homepage-btn {
  cursor: pointer;
}
.homepage-btn:hover {
  opacity: 0.7;
  box-shadow: none;
}

.wrapper .item-img {
  pointer-events: none;
  width: 40px;
  height: 40px;
  background-color: #fc5d26;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 49% 51% 42% 58% / 67% 26% 74% 33%;
}

.wrapper .item-img img {
  width: 25px;
  height: 25px;
  opacity: 0.5;
}

.wrapper .clock-item span {
  pointer-events: none;
}
